<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446238065578-hthasattjg7pum61crn7elm3gtaek4bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446238065578-hthasattjg7pum61crn7elm3gtaek4bp</string>
	<key>API_KEY</key>
	<string>AIzaSyBjIrHxbRXS3ckUs3xiDr_xcN2d5cxrcOU</string>
	<key>GCM_SENDER_ID</key>
	<string>446238065578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsMeetApp</string>
	<key>PROJECT_ID</key>
	<string>lets-meet-d2b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-meet-d2b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446238065578:ios:9076892ef7bba8136121d3</string>
</dict>
</plist>